.AboutPagebody{
    display: flex;
    gap: 10%;
    justify-content: center;
    margin-top: 100px;
}
.AboutPagebody h1{
    font-family: 'JalnanGothic';
}
.AboutPagebody h3{
    font-family: 'GangwonEdu_OTFBoldA';
}
.AboutPagebody h1{
    font-family: 'JalnanGothic';
}
.myskill{
    font-family: 'JalnanGothic';
    font-size:  2.2rem;
}
.stack_container{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
.stack_title{
    font-size: 30px;
    width: 300px;
}
.stack_list{
    margin-top: 8px;
}