
.introduce{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
}
.introducetype{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 45%;
    font-family: 'JalnanGothic';
    @media (max-width: 768px) {
        padding-top: 40px;
      }    
}
.maintext{
  font-size: 40px;
}
.wirtetext{
  color: goldenrod;
  font-size: 40px;
}
.subtext{
  font-size: 25px;
}
.about-container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 12%;
  }
  .about-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .about-card {
    background: var(--bg-color-variant);
    border: 3px solid white;
    border-radius: 1rem;
    padding: 1.0rem;
    text-align: center;
    transition: var(--transition);
    background-color: #f8eddf;
    margin-bottom: 20px;
  }
  
  .about-card:hover {
    background: transparent;
    border-color: var(--primary-color-variant);
    cursor: default;
    background-color: #f8eddf;
  }
  
  .about-icon {
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-bottom: 0.4rm;
  }
  .about-card h5 {
    font-size: 1.00rem;
  }
  .about-card small {
    font-size: 1.0rem;
    color: var(--color-light);
  }
  
  .about-content p {
    margin: 1rem 0 2.6rem;
    color: var(--color-light);
  }
  
  /* ============ Media Query ============== */
  /* Medium Devices (1024px) */
  @media screen and (max-width: 64em) {
    .about-container {
      grid-template-columns: 1fr;
      gap: 0;
    }
    .about-me {
      width: 50%;
      margin: 1rem auto 4rem;
    }
    .about-content p {
      margin: 1rem 0 1.5rem;
    }
  }
  /* Small Devices (600px) */
  @media screen and (max-width: 37.5em) {
    .about-me {
      width: 65%;
      margin: 0 auto 3rem;
    }
    .about-cards {
      grid-template-columns: 1fr 1fr;
      gap: 0.95rem;
    }
    .about-content {
        text-align: center;
    }
    .about-content p {
        margin: 1rem 0;
    }
  }
  
  .homeul{
    list-style: none;
    padding:0px;
    gap: 10px;
  }
  .homeli{
    margin-top: 10px;
  }

  .personalinfocard{
    border: solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display:inline-block;
    margin-top: 40px;
  }

  .displayinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .learn-more{
    --light-pink: #eed97a;
    --pink: #7ad371;
    --dark-pink: #ffe989;
    --pink-border: #dbab63;
    --pink-shadow: #ffe3a8;
    height: 60px;
    width:  230px;
  }

  button.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    color: var(--text);
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: var(--light-pink);
    border: 2px solid var(--pink-border);
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  

  button.learn-more::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark-pink);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  
  button.learn-more:hover {
    background: var(--pink);
    transform: translate(0, 0.25em);
  }
  
  button.learn-more:hover::before {
    box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
    transform: translate3d(0, 0.5em, -1em);
  }
  
  button.learn-more:active {
    background: var(--pink);
    transform: translate(0em, 0.75em);
  }
  
  button.learn-more:active::before {
    box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
    transform: translate3d(0, 0, -1em);
  }

  .btn{
    color: black;
  }