.projectbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectbody h1{
  font-family: 'JalnanGothic';
  margin-top: 50px;
}
.cardbody {
    height: 70vh;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 99vw;
  }
  
  .group {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .item {
    width: 12vw;
    height: 55vh;
    background-position: center;
    background-size: cover;
    margin: 1vw;
    border-radius: 3vw;
    display: inline-block;
    cursor: pointer;
  }
  .text-0{
    display: none;
  }
  .text-1{
    display: none;
  }
  .text-2{
    display: none;
  }
  .text-3{
    display: none;
  }
  .text-4{
    display: none;
  }

.scrollcontainer {
  position: relative;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: gray;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.scrolltext {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
.clickcontainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.clickmouse{
  font-size: 40px;
  animation: motion 0.4s 
               linear 0s   
               infinite alternate; 
}
@keyframes motion {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 10px;} /* 마지막 위치 */
  }

.clicktext {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}